<div class="container">
  <div class="d-flex bd-highlight">
    <h1 class="p-2 flex-grow-1 bd-highlight display-4 my-3">Listado Empleados</h1>
    <button class="btn btn-primary p-2 bd-highlight align-self-center" (click)="nuevo()">+ Nuevo empleado</button>
  </div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Legajo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Fecha de Nacimiento</th>
      <th scope="col">Antiguedad</th>
      <th scope="col">Sueldo Bruto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of ($empleados | async)">
      <td>{{ e.legajo }}</td>
      <td>{{ e.nombre }}</td>
      <td>{{ e.apellido }}</td>
      <td>{{ e.fechaNacimiento }}</td>
      <td>{{ e.antiguedad }}</td>
      <td>{{ e.sueldoBruto | currency: 'USD' }}</td>
    </tr>
  </tbody>
</table>
</div>