<div class="container py-5">
    <h1 class="display-5">Nuevo recibo</h1>
    <form [formGroup]="formulario">
        <div class="form-group">
            <div class="row mb-5">
                <div class="col-md-4">
                    <label for="legajoEmpleado" class="form-label">Legajo</label>
                    <input type="number" class="form-control" id="legajoEmpleado" formControlName="legajoEmpleado"
                        [class.is-invalid]="controlLegajo.touched && (controlLegajo.hasError('required') || controlLegajo.hasError('min'))">
                    <span *ngIf="controlLegajo.touched && controlLegajo.hasError('required')" class="invalid-feedback">
                        Ingrese un legajo.
                    </span>
                    <span *ngIf="controlLegajo.touched && controlLegajo.hasError('min')" class="invalid-feedback">
                        Ingrese un legajo válido.
                    </span>
                </div>
                <div class="col-md-4">
                    <label for="selectMes" class="form-label">Mes</label>
                    <select id="selectMes" class="form-select" formControlName="mes"
                        [class.is-invalid]="controlMes.touched && controlMes.hasError('required')">
                        <option value=1>Enero</option>
                        <option value=2>Febrero</option>
                        <option value=3>Marzo</option>
                        <option value=4>Abril</option>
                        <option value=5>Mayo</option>
                        <option value=6>Junio</option>
                        <option value=7>Julio</option>
                        <option value=8>Agosto</option>
                        <option value=9>Septiembre</option>
                        <option value=10>Octubre</option>
                        <option value=11>Noviembre</option>
                        <option value=12>Diciembre</option>
                    </select>
                    <span class="invalid-feedback">
                        Elija un mes.
                    </span>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for='anio'>Año:</label>
                    <input type='number' id='anio' class='form-control' formControlName="anio"
                        [class.is-invalid]="controlAnio.touched && (controlAnio.hasError('required') || controlAnio.hasError('min'))">
                    <div *ngIf="controlAnio.touched && controlAnio.hasError('required')" class="invalid-feedback">
                        Ingrese un año.
                    </div>
                    <div *ngIf="controlAnio.touched && controlAnio.hasError('min')" class="invalid-feedback">
                        Ingrese un año mayor a {{ MIN_ANIO - 1 }}.
                    </div>
                </div>


            </div>
            <div class="row mb-5">
                <div class="col-md-6">
                    <label class="form-label" for="sueldoBruto">Sueldo Bruto</label>
                    <input type="number" id="sueldoBruto" class="form-control" formControlName="sueldoBruto"
                        [class.is-invalid]="controlSueldo.touched &&
                        (controlSueldo.hasError('required') || controlSueldo.hasError('min') || controlSueldo.hasError('max'))">
                    <div *ngIf="controlSueldo.touched && controlSueldo.hasError('required')" class="invalid-feedback">
                        Ingrese un sueldo bruto.
                    </div>
                    <div *ngIf="controlSueldo.touched && (controlSueldo.hasError('min') || controlSueldo.hasError('max'))"
                        class="invalid-feedback">
                        Ingrese un sueldo bruto entre 1 y {{ MAX_SUELDO }}.
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="incrementoAntiguedad">Incremento por Antigüedad</label>
                    <input type="number" id="incrementoAntiguedad" class="form-control"
                        formControlName="incrementoAntiguedad" [class.is-invalid]="controlIncrementoAntiguedad.touched && 
                        (controlIncrementoAntiguedad.hasError('required') || controlIncrementoAntiguedad.hasError('min')
                         || controlIncrementoAntiguedad.hasError('max'))">
                    <div *ngIf="controlIncrementoAntiguedad.touched && controlIncrementoAntiguedad.hasError('required')"
                        class="invalid-feedback">
                        Ingrese un Incremento por Antigüedad.
                    </div>
                    <div *ngIf="controlIncrementoAntiguedad.touched && 
                    (controlIncrementoAntiguedad.hasError('min') || controlIncrementoAntiguedad.hasError('max'))"
                        class="invalid-feedback">
                        Ingrese un valor entre 1 y {{ MAX_DEDUCCION }}.
                    </div>

                </div>

            </div>
            <div class="row mb-5">
                <div class="col-md-4">
                    <label class="form-label" for="dedJubilacion">Deducción por jubilación</label>
                    <input type="number" id="dedJubilacion" class="form-control" formControlName="dedJubilacion"
                        [class.is-invalid]="controlDedJubilacion.touched && 
                        (controlDedJubilacion.hasError('required') || controlDedJubilacion.hasError('min')
                         || controlDedJubilacion.hasError('max'))">
                    <div *ngIf="controlDedJubilacion.touched && controlDedJubilacion.hasError('required')"
                        class="invalid-feedback">
                        Ingrese una deducción por jubilación.
                    </div>
                    <div *ngIf="controlDedJubilacion.touched && 
                    (controlDedJubilacion.hasError('min') || controlDedJubilacion.hasError('max'))"
                        class="invalid-feedback">
                        Ingrese un valor entre 1 y {{ MAX_DEDUCCION }}.
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="dedObraSocial">Deducción por obra social</label>
                    <input type="number" id="dedObraSocial" class="form-control" formControlName="dedObraSocial"
                        [class.is-invalid]="controlDedObraSocial.touched && 
                        (controlDedObraSocial.hasError('required') || controlDedObraSocial.hasError('min')
                         || controlDedObraSocial.hasError('max'))">
                    <div *ngIf="controlDedObraSocial.touched && controlDedObraSocial.hasError('required')"
                        class="invalid-feedback">
                        Ingrese una deducción por obra social.
                    </div>
                    <div *ngIf="controlDedObraSocial.touched && 
                    (controlDedObraSocial.hasError('min') || controlDedObraSocial.hasError('max'))"
                        class="invalid-feedback">
                        Ingrese un valor entre 1 y {{ MAX_DEDUCCION }}.
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="dedFondoAltaCompl">Deducción por fondo de alta complejidad</label>
                    <input type="number" id="dedFondoAltaCompl" class="form-control" formControlName="dedFondoAltaCompl"
                        [class.is-invalid]="controlDedFondoAltaCompl.touched && 
                        (controlDedFondoAltaCompl.hasError('required') || controlDedFondoAltaCompl.hasError('min')
                         || controlDedFondoAltaCompl.hasError('max'))">
                    <div *ngIf="controlDedFondoAltaCompl.touched && controlDedFondoAltaCompl.hasError('required')"
                        class="invalid-feedback">
                        Ingrese una deducción por fondo de alta complejidad.
                    </div>
                    <div *ngIf="controlDedFondoAltaCompl.touched && 
                    (controlDedFondoAltaCompl.hasError('min') || controlDedFondoAltaCompl.hasError('max'))"
                        class="invalid-feedback">
                        Ingrese un valor entre 1 y {{ MAX_DEDUCCION }}.
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success" (click)="guardar()">Guardar</button>
            <button type="button" class="btn btn-danger ms-3" (click)="volver()">Cancelar</button>
        </div>
    </form>
</div>