<app-navbar></app-navbar>
<app-header titulo="Trabajo Practico Integrador" subtitulo="Laboratorio de Computación IV" colorFondo="dark"></app-header>
<div class="container-fluid py-5 inicio">

    <h4 class="text-light">Integrantes:</h4>
    <div>
        
        <table name="tablaIntegrantes" class="table table-dark table-striped table-bordered rounded" >
            <thead>
              <tr>
                <th scope="col">Apellido</th>
                <th scope="col">Nombre</th>
                <th scope="col">Legajo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Bazan</td>
                <td>Victor</td>
                <td>112878</td>
              </tr>
              <tr>
                <td>Mangini</td>
                <td>Agustín</td>
                <td>112659</td>
              </tr>
              <tr>
                <td>Moisés</td>
                <td>Franco</td>
                <td>113191</td>
              </tr>
              <tr>
                <td>Montícoli</td>
                <td>Pablo Javier</td>
                <td>113491</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>